PORT=3000
HOSTNAME="127.0.0.1"

BASE_URL="http://localhost:3000"

ZOHO_CLIENT_ID=""
ZOHO_CLIENT_SECRET=""
ZOHO_ACCESS_TOKEN=""
ZOHO_REFRESH_TOKEN=""

ZOHO_API_AUTH=""
ZOHO_API_TOKEN=""
ZOHO_API_CONTACTS=""